.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* Gradient Text */
.logo-text {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.6px;

  background: linear-gradient(
    270deg,
    #ec4899,
    #a855f7,
    #06b6d4,
    #22c55e,
    #ec4899
  );
  background-size: 400% 400%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  animation: gradientMove 6s ease infinite;
  user-select: none;
}

/* Gradient Animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
