.text {
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.form-style {
  background: #000;
  color: #fff;
  padding: 0.4rem 1rem;
  border: 2px solid #333;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  resize: vertical;
  transition: all 0.3s ease;
}

.form-style:focus {
  border-color: #a8ff1c;
  box-shadow: 0 0 10px #a8ff1c33;
  background: #0a0a0a;
}

.form-style::placeholder {
  color: rgba(231, 231, 231, 0.493);
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.runningTxt {
  position: relative;
  white-space: nowrap;
  color: #ffffff;
  animation: ran 15s linear infinite;
  font-weight: 500;
  font-size: clamp(14px, 3vw, 25px);
}

@keyframes ran {
  0% {
    transform: translateX(104%);
  }
  100% {
    transform: translateX(-35%);
    color: #a8ff1c;
  }
}
